.bg-light {
    background-color: #7952b3 !important;
}

.nav-link,
.navbar-brand {
    color: white !important;
}

.fb_logo {
    width: 10%;
}

.fb_logo_user {
    width: 15%;
}

.comment_header {
    font-size: 0.8em;
    font-style: italic;
}

.none {
    color: red;
}

.fa-star {
    color: rgb(55, 152, 231);
}

.user_selection {
    font-size: 0.3em;
}

#signup,
a,
#login,
#session,
#sesssionHeader,
.menu {
    color: white
}

#logo {
    width: 80%;
}

#rate1,
#rate2,
#rate3,
#rate4,
#rate5:hover {
    cursor: pointer;
}

.rate {
    font-size: 1.2rem;
}

.message_profile {
    width: 12%;
    border-radius: 50%;
}

#chat_container {
    border: 1px solid rgb(226, 226, 226);
    height: 20rem;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text-from,
.text-you {
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 5px
}

.text-from {
    background-color: #007bfe;
}

.text-you {
    background: #28a745;
}

.sent {
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
}

/* CSS FOR Profile page  */
.sidemenu {
    color: black;
}

.profile_pix{
    border-radius: 50%;
    padding:10px;
}

/* CSS FOR Album */

.image_album{
    width:100%;
}
#banner{
    width:100%;
}
#facebook{
    color:black;
}
.jumbotron{
    padding:0px;
}
#resend_token{
    color:black;
}