 <section class="login_modal">
    <!-- Modal -->
    <div class="modal fade" id="loginmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Login or Signup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/login" method = "POST">
                    <div class = "text-center">
                        <span class ="text-danger mt-3" id ="loginTitle">
                            <!-- {{loginTitle}} -->
                        </span>
                    </div>
                    <div class="modal-body">
                        {% if login_form %}
                            {% include "_flash.html" %}
                            {{login_form.hidden_tag()}}
                            {% for field in login_form if field.widget.input_type!='hidden' %}
                                {{field.label}}
                                {{field(class_='form-control')}}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type ="submit" class ="btn btn-primary">Login</button>
                    </div>
                    <div class ="text-center mt-2 mb-5 text-danger">
                        Don't have an account?  <a href ='#' class ='text-primary' id ="createUser"> Create one </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>