{% extends 'base.html' %}

{% block title %} User Registration {% endblock %}

{% block content %}
    <h1>User Registration</h1>
    <form action="/registration" method="POST">
        {% include "_flash.html" %}
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type!='hidden' %}
            <div class='form-group'>
                {{ field.label }}
                {{ field (class_='form-control') }}
                {% for err in field.errors %}
                    <small class = "badge badge-danger mt-1">
                        {{err}}
                    </small>
                {% endfor %}
            </div>
        {% endfor %}
        <a href='/' class ='btn btn-success btn-md'> Cancel</a>
        <input type="Submit" class = 'btn btn-primary btn-md' value='Submit'>
    </form>
{% endblock %}