{% extends 'base.html' %}

{% block title %} Update Profile {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/profile/edit" class = "list-group-item list-group-item-action sidemenu" id='personal'>Personal</a>
                <a href="/image/upload" class = "list-group-item list-group-item-action sidemenu" id ='upload'>Upload Images</a>
                <a href="/password/edit" class = "list-group-item list-group-item-action sidemenu active" id ='password'>Update Password</a>
            </div>
        </div>
        <div class="col-md-9">
            <h5 id='menuHeader'>Change Password</h5>
            <hr>
            <form action="/password/edit" method="POST">
                {% include "_flash.html" %}
                    {{form.hidden_tag()}}
                    {% for field in form if field.widget.input_type!='hidden' %}
                        <div class='form-group'>
                            <div class="row">
                                <div class="col-md-4"> 
                                    {{ field.label }}
                                </div>
                                <div class="col-md-8">
                                    {% if not field.name== 'profile' %}
                                        {{ field (class_='form-control') }}
                                    {% else %}
                                        {{ field}}
                                    {% endif %}
                                    {% for err in field.errors %}
                                        <small class = "badge badge-danger mt-1">
                                            {{err}}
                                        </small>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <div class="text-right mb-5">
                    <a href='/' class ='btn btn-success btn-md'> Cancel</a>
                    <input type="Submit" class = 'btn btn-primary btn-md' value='Submit'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/profile.js"></script>
{% endblock %}