{% extends 'base.html' %}

{% block title %} Update Profile {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/profile/edit" class = "list-group-item list-group-item-action sidemenu active" id='personal'>Personal</a>
                <a href="/image/upload" class = "list-group-item list-group-item-action sidemenu" id ='upload'>Upload Images</a>
                <a href="/password/edit" class = "list-group-item list-group-item-action sidemenu" id ='password'>Update Password</a>
            </div>
        </div>
        <div class="col-md-9">
            <h5 id='menuHeader'>Personal Profile</h5>
            {% include "_flash.html" %}
            <hr>
            <form action="/profile/edit" method="POST">
                {{form.hidden_tag()}}
                {% for field in form if field.widget.input_type!='hidden' %}
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-md-4"> 
                                {{ field.label }}
                            </div>
                            <div class="col-md-8">
                                {{ field (class_='form-control')}}
                                {% for err in field.errors %}
                                    <small class = "badge badge-danger mt-1">
                                        {{err}}
                                    </small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4"> 
                            Cities
                        </div>
                        <div class="col-md-8">
                            <select name="cities" class = "form-control" id="cities">
                            </select>
                        </div>
                    </div>
                </div>
                
                {% if g.user.type[0].name == 'bluecollar' %}
                    <div class="row">
                        <div class="col-md-4">
                            Select Your Job Profession
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    {{job.carpenter}} {{job.carpenter.label}}
                                </div>
                                <div class="col-md-6">
                                    {{job.painter}} {{job.painter.label}}
                                </div>
                                <div class="col-md-6">
                                    {{job.electrician}} {{job.electrician.label}}
                                </div>
                                <div class="col-md-6">
                                    {{job.plumber}} {{job.plumber.label}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="text-right mt-2 mb-5">
                    <a href='/' class ='btn btn-success btn-md'> Cancel</a>
                    <input type="Submit" class = 'btn btn-primary btn-md' value='Submit'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/profile.js"></script>
{% endblock %}