{% extends 'base.html' %}

{% block title %} User Information {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="{{user.profile}}" class ="card-img-top" alt="default image">
                <h6 class ="mt-2 text-center">
                    {% if user.rating %}
                        {% for i in range(user.rating) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    {% else %}
                        No Rating Yet
                    {% endif %}
                </h6>
                <div class="card-body">
                    <h6 class = "text-center">{{user.first_name}} {{user.last_name}} </h6>
                    <p class="card-text">
                        <p><i class="fas fa-mobile-alt"></i><span> {{user.mobile}} </span> </p>
                        <p><i class="fas fa-envelope-open-text"></i>
                            {% if user.email %}
                                <span> <a href="mailto:{{user.email}}"></a> {{user.email}} </span>
                            {% else %}
                                <span class = 'none'> None </span>
                            {% endif %}
                        </p>
                        <p>
                            <i class="fas fa-tools"></i>
                            <span> {{user.service[0].name}} </span>
                        </p>
                        <p>
                            <a href="{{user.facebook}}" id='facebook'> <i class="fab fa-facebook"></i> Facebook </a>
                        </p>
                        <div class="text-center mt-2">
                            <p>
                                <button type="button" class = "btn btn-primary btn-sm mt-2" id ="sendMessage"> Send me a Message </button>
                            </p>
                        </div>
                        <input type="hidden" id='uid' value='{{user.id}}'>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 mb-2">
            {% if user.title %}
                <h2>{{user.title}}</h2>
            {% else %}
                <h2>No Title</h2>
            {% endif %}
            <div class="album">
                {% if user.albums %}
                    <div class = "carousel slide" id="albumSlides" data-ride ="carousel">
                        <div class="carousel-inner">
                            {% for image in user.albums %}
                                <div class="carousel-item">
                                    <img src="{{image.filename}}" class="d-block image_album" alt="{{image.filename}}">
                                </div>
                            {% endfor %}
                            <a href="#albumSlides" class= "carousel-control-prev" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a href="#albumSlides" class="carousel-control-next" role="button" data-slide="next">
                                <span class="carousel-control-next-button" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> 
                        </div>
                    </div>
                {% else %}
                    <img src="/static/images/uploads/default-image.png" alt="">
                {% endif %}
            </div>
            <hr />
            <h5 class="mt-3">Description</h5>
            <p>
                {{user.description}}
            </p>
            <hr>
            <h5 class="mt-3">Location</h5>
            <p>
                <i class="fas fa-map-marker-alt"></i> <span> {{user.city.name}} </span>
            </p>
            <hr />
            {% include "_flash.html" %}
            <div class="form-inline justify-content-between">
                <h5 class = "mt-3">Comments</h5>
                <button type="button" class = "btn btn-primary btn-sm mt-2" id="rateandcomment">Submit Comment and Rating</button>
            </div>    
            {% for comment in comments%}
                <div class = "mt-5">
                    <div class="form-inline">
                        <div class="mr-auto">
                            <span class="font-italic">{{comment.user.first_name}} {{comment.user.last_name}}</span>
                            <span class = "comment_header">
                                on {{comment.timestamp.strftime("%B %d %Y")}}
                            </span>
                        </div>
                        <div class="my-2 my-lg-0">
                            {% if comment.rating > 0 %}
                                {% for i in range (comment.rating) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %} <br/>
                            {% else %}
                                <span class = "text-danger font-italic">No Rating</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="font-weight-bold font-italic">
                        {{comment.title}}
                    </div>
                </div>
                <div id="user_comments">{{comment.comment}}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% if g.user %}
    {% include "/modals/_modal_comments.html" %}
    {% include "/modals/_modal_messages.html" %}
{% else %}
    {% include "/modals/_modal_login.html" %}
    {% include "/modals/_modal_registration.html" %}
{% endif %}

{% block scripts %} 
    <script src ="/static/js/comments.js"></script>
    <script src ="/static/js/messages.js"></script>
    <script src ="/static/js/worker.js"></script>
{% endblock %}
