{% extends 'base.html' %}

{% block title %} User Information {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/images/profiles/{{user.profile}}" class ="card-img-top" alt="default image">
                <h6 class ="mt-2 text-center">
                    {% for i in range(ave-1) %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                </h6>
                <div class="card-body">
                    <h6 class = "text-center">{{user.first_name}} {{user.last_name}} </h6>
                    <p class="card-text">
                        <p><i class="fas fa-mobile-alt"></i><span> {{user.mobile}} </span> </p>
                        <p><i class="fas fa-envelope-open-text"></i>
                            {% if user.email %}
                                <span> <a href="mailto:{{user.email}}"></a> {{user.email}} </span>
                            {% else %}
                                <span class = 'none'> None </span>
                            {% endif %}
                        </p>
                        <p>
                            <i class="fas fa-tools"></i>
                            <span> {{user.service[0].name}} </span>
                        </p>
                        <div class="text-center mt-2">
                            <a href="{{user.facebook}}"> Find me on <img class="fb_logo_user" src="/static/images/fb_logo.svg" alt=""> or </a> 
                            <p><a href="/worker/{{user.id}}/message" class = "btn btn-primary btn-md mt-2"> Send me a Message </a></p>
                        </div>
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-2">
            {% if user.job[0] %}
                <h2>{{user.job[0].job}}</h2>
                <img src="/static/images/default-image.png" alt="">
                <h5>{{ave}}</h5>
                <hr />
                <h5 class="mt-3">Description</h5>
                <p>
                    {{user.job[0].description}}
                </p>
                <hr>
                <h5 class="mt-3">Location</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> <span> Barangay {{user.barangay.barangay}}, {{user.barangay.city}} </span>
                </p>
            {% else %}
                <h2>No Title</h2>
                <img src="/static/images/default-image.png" alt="">
                <hr />
                <h5 class="mt-3">Description</h5>
                <p></p>
                <hr>
            {% endif %}
            <h5 class="mt-3">Location</h5>
            <p>
                <i class="fas fa-map-marker-alt"></i> <span> {{user.city.name}} </span>
            </p>
            <hr />
            <h5 class = "mt-3">Comments</h5>
                {% for comment in comments%}
                    <div class = "mt-3">
                        <div class="form-inline">
                            <div class="mr-auto">
                                <span class="font-italic">{{comment.user.first_name}} {{comment.user.last_name}}</span>
                                <span class = "comment_header">
                                    on {{comment.timestamp}}
                                </span>
                            </div>
                            <div class="my-2 my-lg-0">
                                {% for i in range (comment.rating-1) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %} <br/>
                            </div>
                        </div>
                        <div class="font-weight-bold font-italic">
                            {{comment.title}}
                        </div>
                    </div>
                    <div>
                        {{comment.comment}}
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}